.custom-container {
  &.tip,
  &.warning {
    border-left-width: 5px;
    .custom-container-title {
      display: none;
      color: #f3f4f5;
      &::before {
        content: "note: ";
        color: #2c3e50;
      }
    }

    font-size: 0.85em;
  }

  &.details {
    table {
      thead,
      tbody {
        background-color: inherit;

        tr {
          border: inherit;
          th,
          td {
            font-size: 0.8em;
            border: 1px solid rgb(178, 178, 178);
            padding: .75rem;
            text-align: left !important;
          }

          td {
            font-style: inherit;
          }
        }
      }
    }
  }
}

table {
  thead,
  tbody {
    background-color: #f3f4f5;

    tr {
      border: none;
      th,
      td {
        border: none;
        padding: 0 1rem;
      }

      th {
        padding-top: 1.5rem;
      }

      td {
        font-size: 0.8em;
        font-style: italic;
        padding-bottom: 1.5rem;
        text-align: left !important;
      }
    }
  }
}
